@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");

@font-face {
    font-family: Rubik;
    src: url(../Rubik-VariableFont_wght.ttf);
}

@font-face {
    font-family: Italic_Rubik;
    src: url(../Rubik-Italic-VariableFont_wght.ttf);
}

:root {
    --first-color: #8ecae6;
    --second-color: #219ebc;
    --third-color: #023047;
    --fourth-color: #ffb703;
    --fifth-color: #fb8500;
}

::-webkit-scrollbar {
    width: 8px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    border-radius: 20px;
    background-color: var(--fifth-color);
}

::-webkit-scrollbar-button {
    background-color: var(--fourth-color);
}

::-webkit-scrollbar-track {
    background-color: var(--second-color);
}

* {
    /* outline: 1px solid green; */
    font-family: "Rubik";
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
/* Nav */

header {
    top: 0;
    z-index: 1;
    background-color: var(--third-color);
    transition: 0.3s ease-in-out;
    width: 100%;
}

.dropdown-menu {
    background-color: var(--third-color);
}

.dropdown-item {
    color: var(--first-color);
}

.dropdown-item:hover {
    background-color: var(--fourth-color);
}

nav {
    color: var(--first-color);
    height: 80px;
}

.transparent {
    background: transparent;
    transition: 0.3s ease-in-out;
}

.nav-link {
    color: #fff;
}

.nav-link:focus {
    color: #fff;
}
.nav-link:hover {
    color: var(--fourth-color);
}

.delete {
    margin: 10px;
    border-radius: 10px;
    background-color: var(--first-color);
    border: 1px solid var(--second-color);
}

.nav-logo {
    color: var(--first-color);
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.logoutbtn {
    border: none;
    background-color: transparent;
}

.active {
    color: var(--third-color);
}

hr {
    margin: 0 15px;
    color: #fff;
    width: 80%;
}

.line {
    transition: 0.5s ease-in-out;
}

.line:nth-child(1) {
    content: "";
    background-color: #fff;
    width: 30px;
    height: 3px;
    transform: rotate(0deg);
}
.line:nth-child(2) {
    content: "";
    background-color: #fff;
    width: 30px;
    height: 3px;
}
.line:nth-child(3) {
    content: "";
    background-color: #fff;
    width: 30px;
    height: 3px;
    transform: rotate(-0deg);
}

.burger {
    display: none;
    flex-direction: column;
    justify-content: space-between;
    cursor: pointer;
    height: 25px;
    position: absolute;
    right: 0;
    z-index: 2;
}

.nav-expand {
    display: flex !important;
}

.burger-active .line {
    transition: 0.5s ease-in-out;
}

.burger-active .line:nth-child(1) {
    position: absolute;
    bottom: 10px;
    transform: rotate(-50deg);
}

.burger-active .line:nth-child(2) {
    opacity: 0;
}

.burger-active .line:nth-child(3) {
    position: absolute;
    top: 13px;
    transform: rotate(50deg);
}

@keyframes move {
    from {
        left: -100;
    }
    to {
        left: 0;
    }
}

@media only screen and (max-width: 768px) {
    .burger {
        margin: 2rem;
    }
    .navbar {
        position: static;
    }
    #Nav-Bar {
        right: 0;
        top: 0;
        display: none;
        background-color: var(--third-color);
        position: absolute;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100vw;
        height: 100vh;
        gap: 10px;
    }
    .burger {
        display: flex;
    }
    .dropdown {
        text-align: center;
        display: flex;
        flex-direction: column;
    }
    .dropdown-menu {
        left: 0;
        border: none;
    }
    .dropdown-menu.show {
        display: flex !important;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
    }
    .dropdown-menu li {
        box-sizing: border-box;
        width: 80%;
        text-align: center;
    }
}

/* End Nav */
.selectionbtn {
    pointer-events: all !important;
}
.nisn {
    pointer-events: none;
    user-select: none;
    background-color: #f0ecec;
}
/* Hero */
.hero {
    background: url(../images/background-index.jpg);
    width: 100%;
    height: 120vh;
    background-size: cover;
    background-repeat: no-repeat;
    padding: 0;
    margin: 0;
    background-position-y: 80%;
}

.hero img {
    width: 300px;
    height: 150px;
    filter: drop-shadow(4px 4px 5px black);
}

.hero h1,
.hero p {
    text-shadow: 4px 4px 5px black;
}

.content {
    height: inherit;
    width: inherit;
    backdrop-filter: blur(5px);
    background-image: linear-gradient(
        180deg,
        transparent 60%,
        #fff 90%,
        #fff 95%,
        #fff 100%
    );
}
/* End of Hero */
/* Alumni Start */
#alumni {
    background-image: url(../images/background-alumni.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}
#alumni h1 {
    backdrop-filter: blur(5px);
    text-shadow: 5px 5px 4px black;
    background-image: linear-gradient(
        180deg,
        transparent 60%,
        #fff 90%,
        #fff 95%,
        #fff 100%
    );
}
.search {
    width: 20rem;
    right: 0;
    top: -50px;
    border: 2px solid var(--third-color);
}
.search input {
    width: 100%;
    border: none;
    padding: 4px;
    padding-left: 4px;
}
.search i {
    border-right: 2px solid var(--third-color);
    padding: 0 5px;
}
.card {
    width: 30%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 1rem 0;
    gap: 2.5rem;
}
.card img {
    margin: 2rem;
    object-fit: contain;
    width: 60%;
    height: 300px;
}
.desc {
    width: 80%;
    height: 15rem;
}
/* Alumni End */
/* About start */
#about {
    background-image: url(../images/background-tentang.png);
    background-size: cover;
    background-position-y: 70%;
    height: 100vh;
    padding: 0;
}
#about h1 {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    backdrop-filter: blur(10px);
    color: white;
    text-shadow: 4px 5px 5px black;
    background-image: linear-gradient(
        180deg,
        transparent 60%,
        #fff 90%,
        #fff 95%,
        #fff 100%
    );
}
.desc-location {
    display: flex;
    justify-content: center;
    text-align: center;
    align-self: center;
    font-size: 1.5rem;
}

#visi {
    height: 100%;
}

#visi h2 {
    position: relative;
    margin-top: 5rem;
}
#visi h2::after {
    position: absolute;
    content: "";
    background: #303030;
    display: flex;
    width: 100%;
    height: 8px;
    bottom: -10px;
}
#visi div {
    width: 30%;
}
@media only screen and (max-width:768px){
    #visi div {
        width: 75%;
    }
}
/* About End */
.profile {
    object-fit: scale-down;
    object-position: center;
    width: 230px;
    height: 350px;
}

a[data-btn="backmore"] {
    text-align: end;
    width: 10%;
    text-decoration: none;
    color: var(--third-color);
}

a[data-btn="backmore"] span:nth-child(1) {
    font-size: 18px;
    margin-right: 5px;
    transition: 0.3s ease-out;
}

a[data-btn="backmore"]:hover span:nth-child(1) {
    margin-right: 10px;
    transition: 0.3s ease-in;
}

a[data-btn="backcreate"] {
    text-align: end;
    text-decoration: none;
    color: var(--third-color);
}

a[data-btn="backcreate"] span:nth-child(1) {
    font-size: 18px;
    margin-right: 5px;
    transition: 0.3s ease-out;
}
a[data-btn="backcreate"]:hover span:nth-child(1) {
    margin-right: 10px;
    transition: 0.3s ease-in;
}

.info {
    padding-top: 1rem;
    border-top: solid 2px black;
    border-bottom: solid 2px black;
    margin-bottom: 1rem;
}

.show {
    color: var(--fifth-color) !important;
}

.middleware {
    height: 85vh;
}
/* Jurusan Start */
.head-jurusan {
    justify-content: center;
    width: 100%;
    position: relative;
    display: flex;
    color: var(--fifth-color);
}

.title-jurusan {
    font-size: 25px;
}

.jurusan-each {
    transition: all 0.3s ease-in-out;
    box-shadow: 5px 4px 8px black;
}

.jurusan-each img {
    filter: drop-shadow(4px 5px 3px grey);
}

.jurusan-each:hover {
    transition: all 0.3s ease-in-out;
    transform: scale(1.1);
}
/* Jurusan End */
.table-respon {
    overflow-y: auto;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;
    height: 70vh;
    width: 100%;
}

@media only screen and (max-width: 992px) {
    .table-respon {
        height: 50vh;
    }
}
/* Ads Start */
#Ads {
    background-color: var(--fourth-color);
}

#Ads object {
    width: 300px;
    height: 300px;
}
#Ads h1 {
    width: 70%;
    font-size: 30px;
}
#Ads p {
    width: 50%;
    font-size: 20px;
}
.btn-ads {
    font-size: 18px;
    width: 8rem;
    background-color: var(--third-color);
    color: #fefefe;
    box-shadow: 3px 2px 5px black;
}
.btn-ads:hover {
    background-color: var(--fifth-color);
    color: #fefefe;
    box-shadow: none;
}
/* Ads End */
/* Berita */
.berita-body {
    overflow-x: auto;
}
.berita {
    width: 20rem;
}
.berita div {
    height: 325px;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.7rem;
}

.berita img {
    object-fit: cover;
    width: 300px;
    height: 200px;
}

.beritas div {
    height: 100%;
    width: 100%;
}
.beritas img {
    object-fit: cover;
    width: 70%;
    height: 300px;
}

.berita-content p:nth-child(1) {
    font-size: 30px;
    font-weight: 600;
}
.berita-content div {
    overflow: hidden;
    text-overflow: ellipsis;
    height: 150px;
    margin-bottom: 2rem;
}
.berita-content a {
    border-radius: 20px;
    padding: 10px;
    width: fit-content;
    text-decoration: none;
    color: var(--second-color);
}
.berita-content i {
    transition: 0.3s all ease-in-out;
}

.berita-content a:hover i {
    margin-left: 10px;
    transition: 0.3s all ease-in-out;
}
@media only screen and (max-width:768px){
    .beritas img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}
@media only screen and (max-width:1024px){
    .beritas img {
        object-fit: cover;
        width: 100%;
        height: 300px;
    }
}
/* Berita End */
/* Tentang Ads */
.ads-tentang {
    cursor: pointer;
    background-image: url("../images/logo_jurusan/img/img/lapangan.png");
    background-position: center;
    height: 50vh;
    margin: 0;
    text-decoration: none;
    padding: 0;
}
.ads-tentang h1 {
    color: #fefefe;
    backdrop-filter: blur(5px);
    text-shadow: 4px 4px 5px black;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 50vh;
    margin-bottom: 0;
}
.ads-tentang:hover {
    color: var(--first-color);
}
/* Tentang Ads */
/* Video Profile */
.vid-prof h1 {
    width: fit-content;
    position: relative;
}
.vid-prof h1::after {
    content: "";
    position: absolute;
    background-color: var(--third-color);
    height: 8px;
    left: 0;
    bottom: 0;
    width: 15rem;
}
/* End Video Profile */

/* Footer Start */
footer {
    height: 25vh;
}
/* Footer End */
